<div class="d-flex align-items-center justify-content-center flex-column " >

<form action="/vehicles/vehicle" method="post">
    <div class="form-group">
        <label for="name">Vehicle Name</label>
        <input type="string" class="form-control" id="name"  name="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <input type="string" class="form-control" id="model" name="model"  placeholder="Enter model">
    </div>
    <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <input type="string" class="form-control" id="manufacturer"  name="manufacturer"  placeholder="Enter manufacturer">
    </div>
    <div class="form-group">
        <label for="cost">Cost in credits</label>
        <input type="string" class="form-control" id="cost" name="cost_in_credits"  placeholder="Enter Cost">
    </div>
    <div class="form-group">
        <label for="length">Length</label>
        <input type="string" class="form-control" id="length" name="length" placeholder="Enter length">
    </div>
    <div class="form-group">
        <label for="speed">Max atmosphering speed</label>
        <input type="string" class="form-control" id="speed" name="max_atmosphering_speed"  placeholder="Enter speed">
    </div>

    <div class="form-group">
        <label for="passengers">Passengers</label>
        <input type="string" class="form-control" id="passengers" name="passengers"  placeholder="Enter passengers">
    </div>
    <div class="form-group">
        <label for="capacity">Cargo capacity</label>
        <input type="string" class="form-control" id="capacity" name="cargo_capacity"  placeholder="Enter capacity">
    </div>
    <div class="form-group">
        <label for="consumables">Consumables</label>
        <input type="string" class="form-control" id="consumables" name="consumables"  placeholder="Consumables">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
