
<div class="border border-light p-3 mb-4">
    <h1>SWAPI</h1>

    <p class="lead">
        Coding challenge with StarWars API
    </p>

    <div class="d-flex align-items-center justify-content-center flex-column " style="height: 350px">
        {{star}}
        <form action="/fill-db" method="post">
            <input type="submit"  class="btn btn-dark p-10" value="Populate the DB">
        </form>
        <a  class="btn btn-light p-10"  href="/starships">Take me to the starships</a>
        <a  class="btn btn-dark p-10"  href="/vehicles">Take me to the vehicles</a>


    </div>

</div>
